<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="maxVSet" value="219" /> <!--The code for the most recent VSet. Always formatted as 2xx where xx is the most recent VSet.  For example, if Set 19 is the most recent VSet, put "219" here. -->
      <add key="RepoPath" value="D:\swccg\swccg-cardlists\" />
    </appSettings>
</configuration>